@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JailBreakMyLife</h1>
  @* <img style="height:400px; width:1200px"  src="~/Content/Images/d447933e8e5a0d42_oitnb_ps2_030_h.xxxlarge_2x.jpg" /> *@
    <p class="lead">JailBreakMyLife is a website that connects prisoners to resources to improve and sustain their new life</p>
</div>

<div class="row">
    <h2>Getting started</h2>
    <p>
        Follow along the three options below to find resources to help further your inspirations.
    </p>
    <div class="col-md-4">
        <h2>Jobs</h2>
        <p>
           Search for available job opportunities based on your location and abiltiies. 
        </p>
        <p><a class="btn btn-default" href="/Jobs/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Education</h2>
        <p>Educational resources are available to help you get started from tutoring to online courses.</p>
        <p><a class="btn btn-default" href="/Education/Index/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Healthcare</h2>
        <p>Search for healthcare providers</p>
        <p><a class="btn btn-default" href="/Healthcare/Index/">Learn more &raquo;</a></p>
    </div>
</div>