
@{
    ViewBag.Title = "Index";
}

<h2>Education</h2>

<div class="row">
    <h2>Educational subjects</h2>
    <p>
        Take your pick on what subjects most interest you and how you can become proficient in those fields.
    </p>

    <div class="col-md-4">
        <ul>
            <li><a href="/Education/Math/">Math</a></li>
            <li><a href="/Education/Science/">Science</a></li>
            <li><a href="/Education/Technology/">Technology</a></li>
            <li><a href="/Education/History/">History</a></li>
            <li><a href="/Education/English/">English</a></li>
            <li><a href="/Education/Health/">Health</a></li>
        </ul>
    </div>
</div>
