
@{
    ViewBag.Title = "Math";
}

<div class="container">
        <img style="height:400px; width:1200px"src="~/Content/Images/numbers-money-calculating-calculation.jpg" />
        <h1>Math</h1>

        <h2>Subjects</h2>
        <form>
            <fieldset>
            <legend>Video Aggregate:</legend>
                <p>Factoring</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_qyVzH3e1dY" frameborder="0" allowfullscreen></iframe>
                <p>Algebra</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3ULXhiJqlPs" frameborder="0" allowfullscreen></iframe>
                <p>Calculus</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7K1sB05pE0A?list=PL0361E2871852F969" frameborder="0" allowfullscreen></iframe>
            </fieldset>
        </form>

        <form>
            <fieldset>
                <legend>Find tutors</legend>
            </fieldset>
        </form>
    </div>
