
@{
    ViewBag.Title = "Science";
}

<div class="container">
    <img style="height:400px; width:1200px" src="~/Content/Images/clinic-doctor-health-hospital.jpg" />
    <h1>Science</h1>

    <h2>Subjects</h2>
    <form>
        <fieldset>
            <legend>Video Aggregate:</legend>
            <p>Biology</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_m4Gvu90Ydw?list=PL9F0B2048DA4690AF" frameborder="0" allowfullscreen></iframe>
            <p>Chemistry</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-c-X8zk0ywo?list=PLCDDBC844A74EED42" frameborder="0" allowfullscreen></iframe>
            <p>Physics</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Uo28HOrhipc?list=PLUdYlQf0_sSsb2tNcA3gtgOt8LGH6tJbr" frameborder="0" allowfullscreen></iframe>
        </fieldset>
    </form>

    <form>
        <fieldset>
            <legend>Find tutors</legend>
        </fieldset>
    </form>
</div>
