
@{
    ViewBag.Title = "Technology";
}

<h2>Technology</h2>

<div class="container">
    <img style="height:400px; width:1200px" src="~/Content/Images/startup-photos.jpg" />
    <h1>Technology</h1>

    <h2>Subjects</h2>
    <form>
        <fieldset>
            <legend>Video Aggregate:</legend>
            <p>Introduction to Computer Science</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/z-OxzIC6pic?list=PLvJoKWRPIu8G6Si7LlvmBPA5rOJ9BA29R" frameborder="0" allowfullscreen></iframe>
            <p>How a Computer Works</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jDQROzrFD1o" frameborder="0" allowfullscreen></iframe>
            <p>How the web works</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/e4S8zfLdLgQ" frameborder="0" allowfullscreen></iframe>
        </fieldset>
    </form>

    <form>
        <fieldset>
            <legend>Find tutors</legend>
        </fieldset>
    </form>
</div>